<div class="showView panel">
  <div class="panel-header">
    <h1>Edit pool</h1>
  </div>
  <%= form_for @pool, url: identity_pool_path(@identity.short_name, @pool.short_name) do |f| %>
  <div class="panel-body">      
      <div class="control-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
      <div class="control-group">
        <%= f.label :short_name, "Short Name" %>
        <%= f.text_field :short_name, placeholder: "Short Name" %>
        <span class="help-block">No spaces or special characters</span>
    
      </div>
      <div class="control-group">
        <%= f.label :description %>
        <%= f.text_area :description, size: "30" %>
      </div>

      <table class="permissions">
         <tr><th>User</th><th>Access</th></tr>
         <% @pool.access_controls.each_with_index do |ac, index| %>
           <tr class="template"><td><input name="pool[access_controls][][identity]" value="<%=ac.identity.short_name %>"/></td>
           <td><select name="pool[access_controls][][access]" class="permission-access">
              <option value="NONE">No access</option>
              <option value="READ"<%= ac.access == "READ" ? " selected" : "" %>>Read-only</option>
              <option value="EDIT"<%= ac.access == "EDIT" ? " selected" : "" %>>Read and Write</option>
           </select></td></tr>
         <% end %>
     
         <tr class="template"><td><input name="pool[access_controls][][identity]"/></td>
           <td><select name="pool[access_controls][][access]" class="permission-access"><option value="READ">Read-only</option><option value="EDIT">Read and Write</option></select></td></tr>

      </table>            
    </div>
    <div class="panel-footer">
      <div class="form-actions">        
        <button type="submit" class="btn btn-primary">Apply Changes</button>
      </div>
      <div class="form-actions">  
        <button type="submit" class="btn btn-primary" name="update_index">Rebuild Solr Index</button> Warning: Rebuilding the index can take a long time.
      </div>
      
    </div>    
  <% end %>
</div>
<%= render partial: "pools/sources"%>


