-content_for :head do
  :javascript
    function Model(data) {
        this.name = ko.observable(data.name);
        this.labelField = data.label;
        this.id = data.id;
        this.relativeUrl = "#" + data.id;
        this.pool = data.pool;
        this.identity = data.identity;
        this.fields = $.map(data.fields, function(item) { return new ModelField(item) });         
        this.associations = data.associations;  
    }
    function ModelField(data) {
      this.code = data.code;
      this.name = data.name;
      this.type = data.type;
    }
    function Entity(data) {
        this.persistent_id = data.persistent_id;
        this.model_id = data.model_id;
        // URL is not returned on search results, so setting it manually instead of using data.url
        this.url = "#{params["id"]}/nodes/"+data.persistent_id;        
        this.associations = data.associations;
        this.title = data.title;
        this.data = data.data;
        this.lastSavedAt = ko.observable("");
    }

    function PoolExplorerViewModel() {
        // Data
        var self = this;
        self.models = ko.observableArray([]);
        self.results = ko.observableArray([]);
        self.selectedModel = ko.observable();
        self.entityQuery = ko.observable("");
        self.selectedEntities = ko.observableArray([]);
        
        self.viewModes = ko.observableArray(['Explore', 'Grid Edit']);
        self.currentViewMode = ko.observable( self.viewModes()[0] );
        
        // Load initial state from server, convert it to Model instances, then populate self.models
        $.getJSON("#{params["id"]}/models", function(allData) {
            var mappedModels = $.map(allData, function(item) { return new Model(item) });
            self.models(mappedModels);
        });
        
        // Behaviours    
        self.openModelSearchPane = function(model) {
          $.getJSON("#{params["id"]}/models/"+model.id+"/nodes/search", function(allData) {
              var mappedResults = $.map(allData, function(item) { return new Entity(item) });
              self.results(mappedResults);
              self.selectedModel(model);
          });
        };
        
        self.entitySearch = function(currentModelValue) {
          var query = "q=" + self.entityQuery();
          $.getJSON("#{params["id"]}/models/"+self.selectedModel().id+"/nodes/search?"+query, function(allData) {
              var mappedResults = $.map(allData, function(item) { return new Entity(item) });
              self.results(mappedResults);
          });
        }
        
        self.setViewMode = function(newMode) {
          self.currentViewMode(newMode);
        }
        
        self.openEntity = function(entity) {
          self.selectedEntities.push(entity);
        }
        
        self.closeEntity = function(entity) {
          self.selectedEntities.remove(entity);
        }
        
        self.updateEntity = function(entity) {
          $.ajax(entity.url+".json", {
              data: ko.toJSON({ node: entity, _method: "put"}),
              type: "put", contentType: "application/json",
              success: function(result) { 
                now = new Date()
                clock = now.getHours()+':'+now.getMinutes().leftZeroPad(2)+':'+now.getSeconds().leftZeroPad(2)
                entity.lastSavedAt("last saved at "+ clock); 
              }
          });
        };
    };
    
    var poolExplorerViewModel = new PoolExplorerViewModel();
    
%nav#menu-nav
  %ul#menu-nav-tabs.nav.nav-tabs
    %li.active 
      %a{href:"#models"} Entities
    %li 
      %a{href:"#data-sources"} Data Sources
  #menu-tab-content.tab-content
    =# render :file => "models/index_compact"
    %ul#models.tab-pane.active.models.nav.nav-pills.nav-stacked{"data-bind" => "foreach: models"}
      %li.model
        %a{"data-bind" => "text: name, click: $root.openModelSearchPane, attr: {href: relativeUrl}"}

= render file: "nodes/search"

#panels{style: "width: 1301px;"}  
  = render file: "nodes/show"

%script
  ko.applyBindings(poolExplorerViewModel);


