%li.model
  %dl
    %dt
      %h3= model.name
    %dd
      %div
        edit 
        = button_to("Delete", {:action => :destroy, :controller => :models, :id => model['id']}, :confirm => "Are you sure you want to delete the \"#{model.name}\" model and all of its nodes?", :method => :delete )
      %b Nodes:
      = model.nodes.count
      %h4 Fields
      %ul.model_fields
        - model.fields.each do |field|
          %li= "#{field["name"]}: #{field["type"]}"
