<!-- ko with: currentEntity -->
<div class="showView panel">
  <div class="panel-header">
    <span class="modelName" data-bind="text: model.name, attr: {class: model.id}"></span>
    <h3 data-bind="text: title"></h3>
  </div>
  <div class="panel-body">
    <%- if @node.model == Model.file_entity %>
      <%= render partial:"file_entities/viewer", locals: {file:@node} %>
    <%- end %>
    <%= form_for @node, url: identity_pool_node_path(@identity.short_name, @pool.short_name, @node),"accept-charset" => "UTF-8", html: {class: "metadata"}  do |f| %>
      <%= render partial: "nodes/field" %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-bind="click: $root.updateEntity">Save</button> <span id="lastSavedAt" data-bind="text: lastSavedAt"></span>
      </div>
    <% end %>
    </form>
    <div class="associations">
      <%= render partial: "nodes/association_set" %>
    </div>
  </div>
  <div class="panel-footer">
    <nav>
      <a href="#" data-bind="attr:{href: pool_url+'/models#'+model.id+'/edit'}">Change Structure</a>
      <%= button_to("Delete this #{@model.name}", {:action => :destroy, :controller => :nodes, :id => @node.persistent_id, pool_id: @pool, identity_id: @identity}, :confirm => "Are you sure you want to delete the \"#{@node.title}\" #{@model.name} and all of its associations?", :method => :delete ) %>
    </nav>
  </div>
</div>
<!-- /ko -->
<%= render file: "nodes/search" %>
<%= render partial: "nodes/inbound_associations" %>
<%= render file: "nodes/node_explorer", :formats => [:js]%>

