%fieldset
  .control-group
    =label_tag "#{root}[name]", 'Each Row is a(n):', :class=>"control-label"
    .controls
      =text_field_tag "#{root}[name]"

  /*.clearfix*/
  /*  =label "#{root}[filter]", 'Filter Row:'*/
  /*  .input*/
  /*    =check_box_tag "#{root}[filter]" */

  /*.clearfix*/
  /*  .input*/
  /*    When column*/
  /*    =select_tag( "#{root}[filter_source]", options_for_select( 0.upto(@worksheet.rows[0].values.size).map{|n| (n+65).chr}, {:include_blank=>true}), {:class=>'xsmall'})*/
  /*    =select_tag("#{root}[filter_predicate]", options_for_select({'is present' =>'present', 'is blank' => 'blank', 'is equal to:' =>'equal' }))*/
  /*    =text_field_tag "#{root}[filter_constant]"*/

  %h2 Meaning of columns:
  %table.model-fields
    %tr
      %th Column:
      %th Field Name:
    - if model
      -model[:field_mappings].each_with_index do |row, n| 
        = render :partial=>'mapping_templates/field_mapping', :locals=>{:row=>row, :parent=>root, :root=>"#{root}[field_mappings_attributes][#{n}]"}
  =add_child_link 'New field', :field_mappings, '1234' 
  /* field template */
  %table{:id=>"field_mappings_#{1234}_fields_template", :style=>'display:none'}
    =render :partial => 'mapping_templates/field_mapping', :locals=>{:row=>{:source=>'', :value=>''}, :parent=>root, :root=>"#{root}[field_mappings_attributes][new_field_mappings]"}            

