- content_for :page_name do
  Create a data model for the worksheet:
=form_for( @mapping_template, :url=>mapping_templates_path(:worksheet_id=>@worksheet), :class=>'mapping-template') do |f|
  =flash[:error]
  .clearfix
    =f.label :row_start, 'Data Begins on row: '
    .input
      =f.select :row_start, [0, 1, 2, 3, 4, 5, 6], {:selected=>2}, {:class=>'xsmall'}
  .clearfix
    -f.object.models.each_with_index do |model, n|
      = render :partial=>'model', :locals=>{:model => model, :root=>"mapping_template[models_attributes][#{n}]" }
  .clearfix
    = add_child_link 'New model', :models, f.object_id
  .clearfix
    =f.submit "Continue", :class=>"btn btn-primary" 
  .clearfix
    %div{:id=>"models_#{f.object_id}_fields_template", :style=>'display:none'}
      = render :partial=>'model', :locals=>{:root=>"mapping_template[models_attributes][new_models]"} 
=render :partial=>'spreadsheet_rows/table'

