- content_for :page_name do
  Create a data model for the worksheet:
=form_for( @mapping_template, :url=>identity_pool_mapping_templates_path(identity_id: @identity.short_name, pool_id: @pool, worksheet_id: @worksheet), :html=>{:class=>'form-horizontal'}) do |f|
  .control-group
    =f.label :file_type, 'This file is an example of a(n):', class: "control-label"
    .controls
      =f.text_field :file_type
  You are using Worksheet #{@worksheet.order + 1} of #{pluralize(@worksheet.spreadsheet.worksheets.count, 'worksheet')}
  .control-group
    =f.label :row_start, 'Data Begins on row:', class: "control-label"
    .controls
      =f.select :row_start, [0, 1, 2, 3, 4, 5, 6], {:selected=>2}, {:class=>'xsmall'}
  =render :partial=>'mapping_templates/spreadsheet_preview'
  %br
  -f.object.model_mappings.each_with_index do |model, n|
    = render :partial=>'mapping_templates/model', :locals=>{:model => model, :root=>"mapping_template[model_mappings_attributes][#{n}]" }
  /*  = add_child_link 'New model', :models, f.object_id*/
  =f.submit "Continue", :class=>"btn btn-primary" 
  /* model template */
  /*%div{:id=>"models_#{f.object_id}_fields_template", :style=>'display:none'}*/
  /*  = render :partial=>'model', :locals=>{:root=>"mapping_template[model_mappings_attributes][new_models]"} */

