=form_for @exhibit do |f|
  .clearfix
    = f.label :title
    .input
      = f.text_field :title
  .clearfix
    = f.label :facets, "Facets"
    .input
      = text_field_tag 'exhibit[facets]', @exhibit.facets ? @exhibit.facets.join(', ') : '' 
      %span.help-block comma separated
  .clearfix
    .input
      = f.submit :class=>'btn btn-primary'

