-content_for :page_name do
  #{@exhibit.title }

-content_for :subtitle do
  =link_to "edit", edit_identity_pool_exhibit_path(@identity, @pool, @exhibit), :class=>'btn btn-small'

=form_for :search, :url=>identity_pool_exhibit_path(@identity, @pool, @exhibit), :method=>:get, :html=>{:id=>'search', :class=>'form-inline'} do
  =text_field_tag :q, params[:q]
  -facet_params.each do |key, value|
    =hidden_field_tag "f[#{key}]", value
  =submit_tag "Search", :class=>'btn btn-primary'

-if @results
  %h2 Found #{pluralize(@total, 'result')}
  %ul.exhibits
    -@results.each do |result|
      %li= render :partial=>'item', :locals=>{:item=>result}
  -content_for :sidebar do
    %h3 Facets:
    %ul.tree
      -@exhibit.facets.each do |facet_key|
        %li
          .facet=facet_key
          = render_facet_list(Node.solr_name(facet_key, 'facet'), @facet_fields[Node.solr_name(facet_key, 'facet')])
