
<%- unless params["view"] == "foo" %>
  <div id="sidebar" class="span3">
    <h4><%= t('bindery.perspectives.switch')%></h4>
    <%= render :partial=>'perspective_chooser' %>    
   <%= render :partial=>'catalog/facets' %>
  </div><!--/well -->
<%- end %>

  <div id="content" class="span9">   

      <h1><%=@pool.name%></h1>
      <% extra_head_content << render_opensearch_response_metadata.html_safe %>

      <%- unless params["view"] == "grid" %>

        <div class="row"><%=render :partial=>'search_form'%></div>
        <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

        <%= render :partial => 'catalog/did_you_mean' %>

        <%= render :partial => 'catalog/constraints' %>

        <%= render 'pool_searches/sort_and_per_page' %>
      <%- end %>

      <h2 class="hide-text"><%= t('blacklight.search.search_results') %></h2>

      <%= render :partial => 'document_list', locals: {documents: @document_list} %>


      <%= render 'catalog/results_pagination' %>
  </div>
