
=content_for :page_name do
  What do your data look like?

.row
  .span7
    %p Our goal is to enable an ecosystem of data usage and to encourage data-driven discourse in the pursuit of knowledge, innovation and happiness.  This platform gives you the shortest path between Collecting and Publishing data while providing the necessary tools for curating, controlling access and tracking usage.
    
    %p 
      %b Disclaimer
      This is the most minimal, barely viable, pre-Beta version of DataBindery.  It's ugly, slow and incomplete, but it's a start!  I'm working on it in my spare time while paying the bills by doing freelance work on 
      %a{href: "http://projecthydra.org"} Hydra-based
      digital repository solutions through
      %a{href: "http://curationexperts.com"} Data Curation Experts
      \.  At this moment, I 
      %i cannot provide any guarantees of uptime or protection from data loss.
      Think of this as an extremely early experimental run.
    %p 
      If you want to see more features (or ongoing support), email me about pre-paying for a subscription or Hire my team through 
      %a{href: "http://curationexperts.com"} Data Curation Experts 
      and pay us to make the product amazing.
    %p 
      %b 
        %a{href:"https://vimeo.com/68724818"} Check out the walkthrough 
      of what you can currently do with DataBindery.
    = render partial: "walkthrough_video"
    %p 
      %b If you have questions, ideas, suggestions, 
      or anything else to chime in about, sign up to the 
      %a{href:"https://groups.google.com/forum/#!forum/databindery-users"} databindery Google Group and say hello.
    
    %p DataBindery frees data from spreadsheets and Document-centric systems like Sharepoint by allowing you to collect arbitrary files into a pool, spawn structured data files (spreadsheets, xml, etc.) into a web of linked data, build connections between all the contents, and publish access-controlled exhibits with data-centric search interfaces and webservice APIs. 
        
  .span3.offset1

    %h3 Get started today!
    =form_for LoginCredential.new, :as=>:user, :url=>user_registration_path  do |f|
      = f.fields_for :identities do |ident_form| 
        = ident_form.text_field :short_name, :placeholder=>"Username", :class=>'large' 
        .help-block Username may only contain alphanumeric characters or dashes and cannot begin with a dash.
      %br
      = f.email_field :email, :placeholder=>"E-Mail", :class=>'', :autocomplete=>'off' 
      %br
      = f.password_field :password, :placeholder=>"Password", :class=>'' 
      %br
      %br
      %button.btn.large.btn-primary{:type=>"submit"} Sign Up
      

%section
  .page-header
    %h1 See what our customers are doing with Data Bindery:



  %ul.col4
    %li
      =link_to '#' do
        =image_tag 'http://lorempixel.com/210/150/?1=true', :class=>'thumbnail', :width=>210, :height=>150
      %strong Lorem ipsum
    %li
      =link_to '#' do
        =image_tag 'http://lorempixel.com/210/150/?2=true', :class=>'thumbnail', :width=>210, :height=>150
      %strong Lorem ipsum
    %li
      =link_to '#' do
        =image_tag 'http://lorempixel.com/210/150/?3=true', :class=>'thumbnail', :width=>210, :height=>150
      %strong Lorem ipsum
    %li
      =link_to '#' do
        =image_tag 'http://lorempixel.com/210/150/?4=true', :class=>'thumbnail', :width=>210, :height=>150
      %strong Lorem ipsum





