<div class="panel-header">
  <a href="#" class="close">×</a>
  <h3>What a <%= name %> looks like</h3>
</div>

<div class="panel-body">
  <form accept-charset="UTF-8" class="metadata">
     <h3>Add Field</h3>
     <div class="control-group">
        <label for="name">Field Name</label>
        <input type="text" name="name" /> 
     </div>
     <div class="control-group">
        <label for="type">Field Type</label>
        <select name="type" class="input-medium"> 
          <option value="text">Text Field</option>
          <option value="textarea">Text Area</option>
          <option value="date">Date</option>
        </select>
     </div>

     <div class="control-group">
        <label for="uri">Code/URI (optional)</label>
        <input type="text" name="uri" /> 
     </div>
     <div class="control-group">
        <label for="multivalued">
          <input type="checkbox" name="multivalued" /> 
          Multi-valued
        </label>
     </div>
     <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
     </div>
  </form>

  <form accept-charset="UTF-8" class="associations">
     <h3>Add association</h3>
     <div class='control-group'>
      <label for="association_type">Type</label>
      <select class="input-medium" id="association_type" name="type"><option value="Has Many">Has Many</option>
      <option value="Has One">Has One</option>
      <option value="Ordered List">Ordered List</option>
      <option value="Unordered List">Unordered List</option></select>
    </div>
    <div class='control-group'>
      <label for="association_name">Association Name</label>
      <input id="association_name" name="name" type="text" value="" />
    </div>
    <div class='control-group'>
      <label for="association_references">Points to</label>
      <select class="input-medium" id="association_references" name="references">
        <% models.each(function(model) { %>
            <option value="<%= model.id %>"><%= model.get('name') %></option>
        <% }); %>
      
      </select>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
     </div>
  </form>
  <form accept-charset="UTF-8" class="fields">
    <table id="fields" class="table table-striped">
      <thead>
        <tr>
          <th>Label</th>
          <th>Order</th>
          <th>Field Name</th>
          <th>Field Type</th>
          <th>Points To</th>
          <th>URI</th>
          <th>Multi-valued</th>
        </tr>
      </thead>
      <tbody>
        <% order=0; %>
        <% $.each(fields, function(n, field) { %>
            <% order++; %>
            <tr>
              <td><input name="label" type="radio" value="<%= field.code %>"<%= label == field.code ? " checked" : ''  %>></td>
              <td><%= order %></td>
              <td class="field-name" data-code="<%= field.code %>" data-type="fields"><%= field.name %></td>
              <td><%= field.type %></td>
              <td><%= field.references %></td>
              <td><%= field.uri %></td>
              <td><%= field.multivalued %></td>
            </tr>
        <% }); %>
        <% $.each(associations, function(n, field) { %>
            <% order++; %>
            <tr>
              <td></td>
              <td><%= order %></td>
              <td class="association-name" data-code="<%= field.code %>" data-type="associations"><%= field.name %></td>
              <td><%= field.type %></td>
              <td><%= field.label %></td>
              <td></td>
              <td></td>
            </tr>
        <% }); %>
      </tbody>
    </table>
  </form>
</div>
