- # default partial to display solr document fields in catalog show view
%dl.dl-horizontal.dl-invert
  - document_show_fields.each do |solr_fname, field|
    - if should_render_show_field? document, field
      %dt{class: "blacklight-#{solr_fname.parameterize}"}= render_document_show_field_label :field => solr_fname
      %dd{class: "blacklight-#{solr_fname.parameterize}"}= render_document_show_field_value :document => document, :field => solr_fname

= render partial: "file_entities/file_list_read_only"

#associations
  - @node.associations.each_pair do |association_type, association_pids|
    - association_spec = @node.model.associations.select {|a| a["code"] == association_type}.first
    - if association_pids && association_spec
      %h2= association_spec["name"]
      - associated_nodes = @node.reify_association(association_type).nil? ? [] : @node.reify_association(association_type)
      - associated_nodesassociated_nodes.each do |associated_node|
        %div= render partial: "nodes/node_read_only", locals: {node: associated_node}
