.navbar.navbar-fixed-top
  .navbar-inner
    .container
      =link_to 'Data Bindery', root_path, :class=>"brand"
      -if user_signed_in?
        .nav-collapse.collapse
          -if @identity
            %ul.nav
              %li= link_to @identity.short_name, identity_pools_path(@identity.short_name)
              -if @pool
                %li= link_to @pool.name, identity_pool_path(@identity.short_name, @pool)

          %ul.nav.pull-right
            %li= link_to "Log Out",  signout_path
      -else
        %ul.nav
          %li{:class=>controller_name == 'welcome' ? 'active' : ''}= link_to('Home', root_path)
          %li= link_to('About', '#about')
          %li= link_to('Contact', '#contact')
        =form_for LoginCredential.new, :as=>:user, :url=>signin_path, :html=>{:class=>"navbar-form pull-right"} do |f|
          = f.email_field :email, :placeholder=>"E-Mail", :class=>'input-medium', :id=>'top_login_email' 
          = f.password_field :password, :placeholder=>"Password", :class=>'input-medium', :id=>'top_login_password' 
          %button.btn{:type=>"submit"} Sign in

